/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx MISE EN PAGE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}
body{
    background-color: #c0c0c0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 20px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx NAVBAR & MENU PRINCIPALE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
nav {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    align-items: center;
    /* height: 100vh; */
    padding-right: 20px;
}
.menu{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 20px;
    padding: 0;
    list-style-type: none;
}
.menu li{
    position: relative;
    min-width: 100px;
}
.menu>li{
    position: relative;
    float: left;
}
.menu a{
    padding: 10px 20px;
    display: block;
    color: rgba(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 30px;
    text-decoration: none;
}
.menu li:hover a{
    color: rgba(0, 0, 0, 0.7);
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx MENU DEROULANT xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.dropdown{
    padding:0;
    background-color: rgba(221, 221, 221, 0.7);
    border-radius: 10px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
}
.dropdown li{
    border-bottom: black;  /* Ne marche pas idk*/
    white-space: nowrap;
    opacity:0;
    transform: rotateY(90deg);
    transition: opacity .4s, transform .5s;
}
.dropdown li:last-child {
    border-bottom: none;
}
.dropdown li a {
    text-decoration: none;
    color: #000;
    display: block;
}
.menu li:hover .dropdown {
    display: block;
}
.menu li:hover .dropdown li {
    transform: rotate(0deg);
    opacity: 1;
    transition: opacity .3s ease, transform .5s ease;
}
.menu .dropdown li:hover a {
    color: #000000;
}
.menu .left {
    font-size: 35px;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
}
.menu .right {
    font-size: 16px;
    margin-left: 10px;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx SOMMAIRE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.sommaire{
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sommaire h1{
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 10px;
}
.sommaire li{
    display: block;
}
/* xxxxxxx AUTRE RAPPORT xxxxxx */
.step{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.step a{
    text-decoration: none;
    color: #000;
}
.step a:hover{
    color: rgba(0, 0, 0, 0.65);
}
.step ul{
    display: flex;
    margin: auto;
}
.step ul li{
    position: relative;
    padding: 20px;
    font-size: 20px;
    color: #000000;
    line-height: 1;
    transition: 0.2s all linear;
    cursor: pointer;
    font-weight: bold;
}
.step ul li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 2px solid #000000;
    transition: 0.2s all linear;
}
.step ul li:hover::before{
    width: 100%;
    top:0;
    left: 0;
    transition: 0.1s;
    z-index: -1;
}
.step ul li:hover~li::before{
    left: 0;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx CONTENU xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
article{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding: 30px;
}
article img {
    display: block;
    margin: 0 auto;  /* Centrer l'image */
    max-width: 100%;  /* L'image ne dépasse pas la largeur de son conteneur */
    height: auto;     /* Maintenir les proportions */
}
section{
    padding: 20px 0 20px 0;
}
.container{
    margin: 100px 0 100px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    height: 600px;
    /*background: #dddddd;*/
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
}

.num{
    display:flex;
    align-items: center;
    width: 100%;
    height: 600px;
    padding-left: 60px;
    position: absolute;
    overflow: hidden;
}
.num .img{
    width: 260px;
    height: 260px;
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
}
.num .img img{
    width: 100%;
    height: 100%;
    opacity:0;
    transition:0.6s;
}
#slide1:checked~.num1 img,
#slide2:checked~.num2 img,
#slide3:checked~.num3 img{
    opacity: 1;
    transition-delay: 0.2s;
}
.num .content {
    flex:1;
    padding: 0 30px 0 35px;
    position: relative;
    left:100px;
    opacity:0;
    transition: 0.6s;
}
#slide1:checked~.num1 .content,
#slide2:checked~.num2 .content,
#slide3:checked~.num3 .content{
    opacity: 1;
    z-index:9;
    left:0;
    transition-delay: 0.3s;
}
.num .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.num .text{
    font-size: 17px;
    color: #000;
    text-align: justify;
    margin-bottom: 25px;
    max-width:1000px;

}
.num a{
    padding: 13px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    letter-spacing:1px;
    font-weight: 600;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    float: right;
}
.slider{
    /* margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacement entre les slides */
    position: absolute;
    bottom: 40px;
    left: 55%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider .slide{
    width: 50px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-flex;
    margin: 0 3px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.slider .slide::before{
    content: "";
    width: 0;
    height: 100%;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.6s;
}
#slide1:checked~.slider .slide-1::before,
#slide2:checked~.slider .slide-2::before,
#slide3:checked~.slider .slide-3::before{
    width: 100%;
    transform: scaleX(1);
}

.btn{
    opacity:0;  /* à enlever */
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx FOOTER xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    min-height: 200px;
    padding-top: 50px;
}
footer ul{
    padding: 0;
    margin: 0;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
}
.footlist li {
    width: auto; /* Largeur par défaut pour tous */
}
.footlist li:not(:first-child){
    width: 100%;
}
footer .footMenu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
footer .footMenu li .list{
}
.footIcons{
    width: 70px;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 5px;
}
.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid rgba(85, 85, 85, 0.79);
    color: white;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx RAPPORT xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

h1{
    font-size: 36px;
}
section{
    margin:30px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
}
.Q{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.cardQ{
    margin: 20px;
    width: 400px;
    height: 300px;
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0, 0.4) 0 2px 10px 0, rgba(0, 0, 0, 0.5) 0 2px 25px 0;
}
.card{
    position: absolute;
    width: 95%;
    height: 95%;
    background: #0e0e0e;
    border-radius: 20px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgb(0, 0, 0, 0.4) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.5) 0 18px 36px -18px inset;
}
.card .h4{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 800;
    pointer-events: none;
    opacity: .5;
}
.card .content .h3{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}
.card .content .p{
    font-size: 17px;
    line-height: 1.4em;
}
.card .content{
    transform: translateY(100%);
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.card:hover .content{
    transform: translateY(0);
    opacity: 1;
}
.card:hover .h4{
    opacity: 0;
}
/* xxxxxxxxxxxxxx STRUCTURE xxxxxxxxxxxxx */
.struct{
    margin: 20px 0 90px 0;
}
.img-container {
    display: flex; /* Les images seront alignées en ligne */
    flex-wrap: wrap; /* Permet de passer à la ligne si l'espace manque */
    gap: 10px; /* Espacement entre les images */
    justify-content: center; /* Centrer les images horizontalement */
}
.struct p{
    font-size: 16px;
    justify-content: space-between;
    padding: 10px;
}
.text-container {
    display: flex;
    margin:10px;
}
.img-container img {
    width: 300px; /* Largeur fixe des images */
    height: auto; /* Garde le ratio de l'image */
    border-radius: 5px; /* Coins arrondis (optionnel) */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Ombre pour l'esthétique */
    transition: transform 0.3s ease; /* Ajoute une transition au survol */
}

.img-container img:hover {
    transform: scale(1.5); /* Zoom léger au survol */
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx ITEMS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.item{
    margin: 10px 0 100px 0;
    width: 1000px;
    height: 200px;
    background: #dddddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.item p{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: rgba(99, 90, 90, 0.87);
}
.item h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item span.justify{
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.item span.price{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.47);
}
.item .item-img{
    padding-top:33%;
    background-color: #ffffff;
    margin-top:20px;
}
.item .item-img{
    position: relative;
}
.item .item-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
.item{
    height: auto;
}
/* xxxxxxxxx STRUCTE B xxxxxxxx */
.structB {
    margin: 100px 0;
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box-list {
    display: inline-flex;
    justify-content: space-between;
    padding: 0 10px;
}
.box-list img {
    box-shadow: 0 0 9px rgba(0,0,0,0.1);
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    object-fit: cover;
}
h3 {
    font-size: 18px;
    margin-top: 1px;
    color: #000000;
}
.box-list .box img {
    transition: 0.5s ease-out;
    cursor: pointer;
}
.box img:hover {
    transform: scale(1.25);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx OPTIONS xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.back-to-top{
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: #000000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx RESPONSIVE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* ----------------------------------- Version Mobile (Responsive) --------------------------- */
@media (max-width: 768px) {
    /* ----------------------------------- NAV ----------------------------------*/
    nav{
        width: 100%;
    }
    .menu {

        font-size: 12px;
        margin: 10px 0;
    }
    .menu li{
        position: relative;
        min-width: 8px;
    }
    .menu .left {
        font-size: 25px;
        font-weight: 550;
    }
    /* -------------------------------- SOMMAIRE ----------------------------------*/
    .sommaire {
        width: 100%;
        padding: 20px; /* Réduit les espacements sur petits écrans */
        font-size: 12px;
    }
    .sommaire h1{
        font-size: 20px;
        font-weight: 600;
    }
    .sommaire li{
        font-size: 12px;
    }
    .step ul li{
        position: relative;
        padding: 10px;
        font-size: 12px;
    }
    /* ------ DANS RAPPORT ------ */
    .step{
        margin-top: 20px;
        font-size: 12px;
    }
    .step a:hover{
        color: rgba(0, 0, 0, 0.65);
    }
    .step ul{
        display: flex;
        margin: auto;
    }
    .step ul li{
        position: relative;
        padding: 10px 5px 10px 5px;
        font-size: 10px;
    }
    /* -------------------------------- CONTENU ----------------------------------*/
    h1{
        font-size: 34px;
        text-align: center;
    }
    .container {
        width: 100%;
        padding: 10px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .num{
        width: 90%;
        padding-top: 50px;
        padding-left: 0;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }
    .num .content {
        padding: 30px 2px 20px 2px;
        margin-bottom: 30px;
    }
    .num .img{
        width: 100px;
        height: 100px;
        border-radius: 20px;
        flex-shrink: 0;
        box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    }
    .num .title {
        font-size: 24px;
    }
    .num .text {
        font-size: 14px;
    }
    .slider{
        bottom: 20px;
        left: 50%;
    }
    .slider .slide{
        width: 20px;
        height: 9px;
        margin: 0 3px;
    }
    /* -------------------------------- RAPPORT ----------------------------------*/
    h1{
        font-size: 20px;
    }
    section{
        margin:15px;
        height: auto;
        min-width: 10px;
    }
    .Q{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .cardQ{
        margin: 5px;
        width: 250px;
        height: 200px;
    }
    .card{
        padding: 10px;
    }
    .card .h4{
        font-size: 10px;
    }
    .card .content .h3{
        font-size: 9px;
        margin-bottom: 5px;
    }
    .cardQ .card .content .p{
        font-size: 7px;

    }
    p{
        font-size: 10px;
    }

    /* ---------------- STRUCTURE ------------ */
    .struct p{
        font-size: 12px;
        padding: 5px;
    }
    .img-container img {
        width: 150px;
    }
    /* ------------ STRUCT B ------------- */
    .box-list img {
        width: 200px;
        height: auto;
    }
    h3 {
        font-size: 12px;
    }
    .box-list .box img {
        transition: 0.5s ease-out;
        cursor: pointer;
    }
    .box img:hover {
        transform: scale(1.50);
    }
    /* --------------- ITEMS ------------- */
    .item{
        width: 500px;
        height: 100px;
        padding: 10px;
    }
    .item p{
        height: 20px;
        font-size: 10px;
    }
    .item span.justify{
        font-size: 12px;
    }
    .item span.price{
        font-size: 10px;
    }
    .item .item-img{
        margin-top:10px;
    }
    .item{
        height: auto;
    }

    /* ------------------------------- PIED DE PAGE --------------------------------*/
    footer{
        padding-top: 20px;
    }
    footer .footMenu {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .foot {
        padding: 0 10px;
    }
    .footlist li:not(:first-child) {
        width: 100%;
    }
    .footlist{
        min-width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .footMenu{
        flex-direction: column;
    }
    .footIcons{
        width: 60px;
        max-width: 80px;
    }
    .footer-bottom{
        margin-top: 20px;
    }
}